:root {
  --editor-icons: var(--white-dark-3);
  --editor-title: var(--white);
  --line-number: var(--purple-dark-3);
  --current-line-bg: var(--black);
}
.mod-root {
   /* Workspace leaf is each editor: mod-active class is applied to the active editor */
  & .workspace-leaf {
     /* Workspace leaf content has a data attribute for empty if there is no file */
    & .workspace-leaf-content {
       /* ----------------------------------- Editor header */
      & .view-header {
         /* Important used to avoid crazy nesting */
        background-color: var(--editor-background) !important;
        border-top: none;
        border-bottom: var(--border) !important;

        & .view-header-title-container::after {
          background: var(--editor-background) !important;
        }

         /* File icon */
        & .view-header-icon {
          color: var(--editor-icons);
          &:hover {
            color: var(--icon-hover);
          }
        }

        & .view-header-title {
          color: var(--editor-title);
        }

         /* Action icons */
        & .view-action {
          color: var(--editor-icons);
          &:hover {
            color: var(--icon-hover);
          }
        }
      }

       /* ------------------------------------ Content */
      & .view-content {
        background-color: var(--editor-background);

         /* Empty window content */
        & .empty-state-container {
          color: var(--text-mute);

          & .empty-state-action {
            color: var(--text-mute);

            &:hover {
              color: var(--icon-hover);
            }
          }
        }

         /* -------------------------------- Editor styles */
        & .markdown-source-view {
          font-size: var(--par);

          & .CodeMirror-cursors {
            z-index: 100;
          }

           /* Cursor insert mode */
          & .CodeMirror-cursor {
            border-left: 1px solid var(--accent);
          }

          & .CodeMirror, & .cm-contentContainer {
            max-width: 70vw;
          }

           /* Cursor normal */
          & .cm-fat-cursor  {
           & .CodeMirror-cursor {
              background: var(--accent);
              z-index: 100;
            }

          }

           /* Gutters Desktop */
          & .CodeMirror-gutters .CodeMirror-gutter {
            background-color: var(--editor-background);
          }
          & .CodeMirror-linenumber {
            color: var(--line-number);
            font-size: var(--par);
          }

           /* Gutters Mobile */
          & .cm-gutters {
            background-color: var(--editor-background) !important;
            & .cm-foldGutter {
              background: var(--editor-background);
              span[title="Unfold line"] {
                /* color: var(--purple);  doesn't work */
              }
            }

            & .cm-lineNumbers {
              background: var(--editor-background);

              & .cm-gutterElement {
                color: var(--line-number);
              }
            }
          }

            /* Content styles */
           /* See _text-styles.scss */

           /* ------ Active line styles */
          & .CodeMirror-activeline {
            background-color: var(--current-line-bg);

            & .CodeMirror-linenumber {
              color: var(--accent);
            }
          }
        }
      }
    }
  }
}
