.markdown-preview-view {
  font-size: var(--par);

  & h1,
  & h5 {
    color: var(--accent);
  }

  & h3 {
    color: var(--purple-light-3);
    font-weight: normal;
  }

  & h4 {
    color: var(--purple);
    font-weight: normal;
    font-style: italic;
  }

  & h2,
  & h6 {
    color: var(--purple);
    font-style: italic;
  }

  & h2 {
    border-bottom: 1px solid var(--accent);
  }

 & p,
 & span,
 & ul,
 & ol {
    color: var(--text);
  }

 & mark {
    background-color: var(--accent);
    color: var(--black-dark-1);
  }

  & a {
    color: var(--purple-light-3);
  }

 & blockquote {
    border: solid 1px var(--purple);
    border-left-width: 5px;
    color: var(--text);
  }
  & table th {
    color: var(--accent);
  }

 & hr {
    border-color: var(--purple-dark-3);
  }

   /* Display container */
 & .markdown-preview-section {
    max-width: 1000px !important;
  }
}
