/* 
  CodeMirror-line is the base line class
  Each element type class has the form .HyperMD-[element type]
    Nested in each element is a class .cm-formatting which styles the formatting markup
 */

:root {
  --heading-color: var(--purple);
  --formatting: var(--accent);
  --list: var(--purple);
}

 /* ------------- BASE LINE STYLING */
.CodeMirror-line,
.cm-line {
  & span {
    color: var(--text);
  }

   /* ---- HEADINGS */
  &.HyperMD-header {
    &.cm-header {
      font-size: var(--heading) !important;
      color: var(--purple);
    }
    &.cm-formatting {
      color: var(--accent);
    }
  }

   /* ---- LIST */
  &.HyperMD-list-line {
    &.cm-formatting {
      color: var(--purple);
    }
  }

   /* BOLD AND ITALICS */
  &.cm-em,
  &.cm-strong {
    color: var(--purple-light-2);
    &.cm-formatting {
      color: var(--accent);
    }
  }

   /* HIGHLIGHT */
  &.cm-formatting.cm-highlight {
    background-color: var(--accent);
    color: var(--black-dark-1);
  }
  &.cm-formatting + .cm-highlight {
    background-color: var(--accent);
    color: var(--black-dark-1);
  }

   /* ---- QUOTE */
   /* TODO: Check this */
  @nest & .HyperMD-quote {
    .cm-formatting {
      color: var(--accent);
    }
  }

   /* ---- CODE BLOCK */
  &.HyperMD-codeblock {
    background-color: var(--black);
    color: var(--white);
    /* TODO: Check this */
    @nest & .HyperMD-codeblock-begin {
      color: var(--accent);
    }
    @nest & .HyperMD-codeblock-end {
      color: var(--accent);
    }
  }

   /* ---- HR */
   /* TODO: Check this */
  @nest & .HyperMD-hr {
    .cm-hr {
      color: var(--accent);
    }
  }

   /* ---- LINKS */
  & span.cm-formatting-link {
    color: var(--purple);
  }

  /* TODO: Here */
  &.cm-formatting-link + .cm-hmd-internal-link {
    color: var(--accent);
  }

   /* ---- FRONTMATTER */
  &.cm-hmd-frontmatter {
    font-size: var(--small);
    color: var(--text-mute);
  }
}
