.titlebar {
  background-color: var(--black-dark-1);
  border-bottom: var(--border);

  &.titlebar-text {
    color: var(--white-dark-1);
  }

  &.titlebar-button {
    color: var(--white-dark-2);
  }

}
