:root {
  --tab-background: var(--black-dark-1);
  --explorer-active-bg: var(--accent);
  --explorer-active: var(--black);
  --explorer-hover: var(--black-light-1);
  --search-bar: var(--black-light-1);
  --search-hover: var(--black-dark-1);
}

// ---------------------------------------------------------------- LEFT SIDEBAR
.workspace-split.mod-left-split {
  background-color: var(--sidebar-background);

  // resize hr between left sidebar and editor
  .workspace-leaf-resize-handle {
    background-color: var(--purple-dark-2);
    width: 2px;

    &:hover,
    &:focus {
      background-color: var(--accent);
    }
  }

  .workspace-tabs {
    background-color: var(--black);

    // Header section
    .workspace-tab-header-container {
      background-color: var(--tab-background);

      // currently selected tab
      .workspace-tab-header.is-active {
        color: var(--icon-hover);
      }
      .is-active {
        background-color: var(--black) !important;
      }

      // all tabs
      .workspace-tab-header {
        color: var(--icon-normal);
        background-color: var(--tab-background);

        &:hover,
        &:focus {
          color: var(--accent);
        }
      }
      .is-before-active,
      .is-after-active {
        background-color: var(--tab-background);
        .workspace-tab-header-inner {
          background-color: var(--tab-background);
        }
      }
    }

    // Main sidebar (on top of workspace-tabs)
    .workspace-leaf {
      background-color: var(--sidebar-background);

      // New file/folder .e.c.t
      .nav-header {
        .nav-action-button {
          color: var(--icon-normal);

          &:hover,
          &:focus {
            color: var(--icon-hover);
          }
        }
      }

      // File explorer
      .nav-files-container {
        // folders and main title
        .nav-folder-title {
          &:hover,
          &focus {
            background-color: var(--explorer-hover);
            .nav-folder-title-content {
              background-color: var(--explorer-hover);
              color: var(--accent);
            }
          }
          .nav-folder-title-content {
            color: var(--text-mute);
            font-weight: bold;
          }
        }

        // file names
        .nav-file {
          .nav-file,
          .nav-file-title {
            color: var(--text-mute);
            font-style: italic;

            &:hover,
            &:focus {
              color: var(--accent);
              background-color: var(--explorer-hover);
            }
          }

          .is-active {
            background-color: var(--explorer-active-bg);

            > div {
              color: var(--explorer-active);
            }

            &:hover,
            &:focus {
              background-color: var(--explorer-active-bg);

              > div {
                color: var(--explorer-active);
              }
            }
          }
        }
      }

      // Search tab
      .workspace-leaf-content[data-type="search"] {
        // buttons
        .nav-action-button {
          color: var(--icon-normal);

          &.is-active {
            color: var(--icon-hover);
            background-color: var(--sidebar-background);
            border: 1px solid var(--icon-hover);
          }

          &:hover {
            color: var(--icon-hover);
          }
        }
        // search bar
        .search-input-container input {
          background-color: var(--search-bar);
          color: var(--text-mute);
        }
        // search results list
        .search-result-container {
          background-color: var(--sidebar-background);

          // search result item
          .search-result {
            // search result title
            .tree-item-inner {
              color: var(--text-mute);
            }
            // search result body
            .search-result-file-match {
              color: var(--text-mute);

              &:hover {
                background-color: var(--search-hover);
              }

              // Search highlight
              .search-result-file-matched-text {
                background-color: var(--accent);
                color: var(--black);
              }
            }
          }
        }
      }
    }
  }
}

// Mobile
.workspace-drawer {
  .workspace-drawer-inner {
    background: var(--sidebar-background) !important;

    .nav-folder-title {
      color: var(--white);
    }
  }
}
