/**
  CodeMirror-line is the base line class
  Each element type class has the form .HyperMD-[element type]
    Nested in each element is a class .cm-formatting which styles the formatting markup
*/

// ------------- BASE LINE STYLING
.CodeMirror-line {
  font-size: var(--par);

  // ---- HEADINGS
  &.HyperMD-header {
    .cm-header {
      font-size: var(--heading);
      color: var(--purple);
    }
    .cm-formatting {
      color: var(--accent);
    }
  }

  // ---- LIST
  &.HyperMD-list-line {
    .cm-formatting {
      color: var(--purple);
    }
  }

  //---- BOLD AND ITALICS
  .cm-em,
  .cm-strong {
    color: var(--purple-light-two);
    &.cm-formatting {
      color: var(--accent);
    }
  }

  //---- HIGHLIGHT
  .cm-formatting.cm-highlight {
    color: var(--accent);
    background-color: var(--black);
  }
  .cm-formatting + .cm-highlight {
    background-color: var(--accent);
    color: var(--black);
  }

  // ---- QUOTE
  &.HyperMD-quote {
    .cm-formatting {
      color: var(--accent);
    }
  }

  // ---- CODE BLOCK
  &.HyperMD-codeblock {
    background-color: var(--black-light-one);
    color: var(--white);
    &.HyperMD-codeblock-begin,
    &.HyperMD-codeblock-end {
      color: var(--accent);
    }
  }

  // ---- HR
  &.HyperMD-hr {
    .cm-hr {
      color: var(--accent);
    }
  }

  // ---- LINKS
  span.cm-formatting-link {
    color: var(--purple);
  }

  .cm-formatting-link + .cm-hmd-internal-link {
    color: var(--accent);
  }

  // ---- FRONTMATTER
  .cm-hmd-frontmatter {
    font-size: var(--small);
    color: var(--white-dark-three);
  }
}
