:root {
  // --------------------------------------------- Colors
  --h-purple: 246;
  --s-purple: 28%;
  --l-purple: 48%;
  --h-black: 240;
  --s-black: 7%;
  --l-black: 10%;

  --step-one: 1.6%;
  --step-two: 3.2%;

  --purple: hsl(var(--h-purple), var(--s-purple), var(--l-purple));
  --black: hsl(var(--h-black), var(--s-black), var(--l-black));
  --accent: hsl(164, 68%, 72%);
  --white: hsl(212, 61%, 91%);

  --purple-dark-one: hsl(
    var(--h-purple),
    var(--s-purple),
    calc(var(--l-purple) - var(--step-one))
  );
  --purple-dark-two: hsl(
    var(--h-purple),
    var(--s-purple),
    calc(var(--l-purple) - var(--step-two))
  );

  --purple-light-one: hsl(
    var(--h-purple),
    var(--s-purple),
    calc(var(--l-purple) + var(--step-one))
  );
  --purple-light-two: hsl(
    var(--h-purple),
    var(--s-purple),
    calc(var(--l-purple) + var(--step-two))
  );

  --black-light-one: hsl(
    var(--h-black),
    var(--s-black),
    calc(var(--l-black) + var(--step-one))
  );
  --black-light-two: hsl(
    var(--h-black),
    var(--s-black),
    calc(var(--l-black) + var(--step-two))
  );

  --font: "Fira Code", monospace;
}
